body{
font-family: Arial;
margin:0;
background:#fff;
color:#111;
}

header{
background:#111;
padding:15px 50px;
}

.nav{
display:flex;
justify-content:space-between;
align-items:center;
}

.logo{
height:60px;
}

nav a{
color:white;
margin-left:20px;
text-decoration:none;
}

.hero{
display:flex;
padding:80px;
align-items:center;
}

.hero-text{
flex:1;
}

.hero-text h1{
font-size:48px;
}

.hero-img img{
width:400px;
border-radius:10px;
}

.btn{
background:#D4AF37;
color:white;
padding:12px 24px;
text-decoration:none;
display:inline-block;
margin-top:20px;
}

.mission{
padding:80px;
text-align:center;
}

.values{
display:flex;
gap:30px;
margin-top:40px;
}

.card{
background:#f7f7f7;
padding:30px;
border-radius:8px;
}

.programs{
padding:80px;
background:#fafafa;
text-align:center;
}

.program-grid{
display:flex;
gap:30px;
margin:40px 0;
}

.program-card{
padding:30px;
background:white;
border:1px solid #eee;
}

.testimonials{
padding:80px;
text-align:center;
}

footer{
background:#111;
color:white;
padding:40px;
text-align:center;
}

.socials a{
color:#D4AF37;
margin:10px;
text-decoration:none;
}